body {
  background-color: black;
}

.carousel-caption {
  font-family: 'Poiret One', serif;
  color: black;
}

.navbar-wrapper {
  font-family: 'Comfortaa', serif;
}

.col-lg-4 {
  background-color: black;
  font-family: 'Comfortaa', serif;
  color: white;

}

/*.logout {
  align-self: right;
}*/

.row {
  height: 400px;
}
