body {

  background-color: black;

}

container {
  align-content: center;
  margin: 20px;
  padding: 20px;
}

/*h1 {
  color:  #6ea2dd;
  font-size: 72px;
  font-family: "Comfortaa"
}*/

img {
  padding-left: : 20px;
  height: 200px;
  width: 200px;
}

p {
  padding-left: : 20px;
}

.info {
  font-style: bold;
  color: white;
  font-family: "Poiret One";
}

.address {

  font-family: "Comfortaa";
  color: white;
}
