<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>feedMe</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>

    <link href="./custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./carousel.css" rel="stylesheet">

    <!-- google fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poiret+One">

  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">feedMe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <!-- <li><a href="/profile">Profile</a></li> -->
                <li class="logout"><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="images/spork.jpeg" alt="First slide">
          <div class="container-fluid">
            <div class="carousel-caption">
              <p style="font-size:2.5em;"><br>It has been said that you eat with your eyes first...</p>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up</a></p>
              <!-- <p><a href="/login">already a member? login here.</a></p> -->
            </div>
          </div>
        </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/rice.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>feedMe</h2>
          <p>Well feast your eyes of this foodies.  Imagine Yelp and Instagram had a baby and the baby is way more fun than its parents.  And that baby's name:  feedMe.  You have to eat.  We have to eat.  We know it.  You know it.  There's no way around it.  But wouldn't you like to know what you're going to eat?  Or what you could be eating.  And where?  In pictures, that is.  Grab a seat, rub crust out of your eyes, and get ready to stuff them full of sweet, sugary eye-candy.  feedMe so you can feed you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/donut.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>feedP*rn</h2>
          <p>Dirk Diggler has nothing on our down and dirty buttnaked shots of your favorite foods.  The raw and the cooked, the deconstructed and the stuffed, vegan, vegetarian, well done.  Whatever your secret foodie fantasies, you can customize your feedMe feed and gobble up sexy epicurean images to your heart and tummy's delight.  Whether your favorite greasy spoon, watering hole, hole-in-the-wall, or date-worthy stuff-your-face spot, we gots pics of spots to satisfy the trainspotting victual voyeur in each of you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/tea.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>feed for thought</h2>
          <p>For those who come to us for the articles more than the gastro-peep-show, rest assured we do more than curate down and dirty foodporn, feeding you in more ways than one.  Come break bread with us at our feedMe blog.  It includes food features and news to feed your mind, body, and soul.  So wipe the egg off your face, get your foot out of your mouth, face the edible truth, peep, read, stuff your pieholes and your eye-holes, and let feedMe feedYou already!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
