<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yelp Search</title>
  </head>
  <body>
    Profile
      name
      username
      saved searches
      favorites

    </form>
  </body>
</html>
