<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./custom.css">
  <link rel="stylesheet" href="./profile.css">

  <!-- google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script type="text/javascript" src="/scripts/profile.js">
  </script>
  <title>Profile and Search</title>

</head>

<body>


  <!-- NAV BAR -->
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">feedMe</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
              <!-- <li><a href="/profile">Profile</a></li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- PROFILE, SEARCH, AND RESULTS DISPLAY -->
  <div class="container">
    <section class="results">
      <div class="row" align="center">

<!-- //FIRST IMAGE -->
        <div class='wrapper' class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
        	<a href="/results?categories=pizza"><img src="http://cf.nearsay.com/sites/default/files/styles/480x240/public/content_images/pizza-beer.jpg?itok=6jFvCu8P" class="img-responsive" /></a>
        	<div class='description'>
        		<p class='description_content'>Pizza and Beer!</p>
        	</div>
        </div>

<!-- //SECOND IMAGE -->
        <div class='wrapper' class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <a href="/results?categories=thai"><img src="/images/rice.jpeg" class="img-responsive" /></a>
          <div class='description'>
            <p class='description_content'>Thai</p>
          </div>
        </div>

      </div>
    </section>
  </div>
</body>

</html>
