<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yelp Search</title>
  </head>
  <body>
    Register

    <form action="/sign_up" method="GET">
      <button>Username</button>
      <button>Password</button>
    </form>
  </body>
</html>
